<div class="page secondary">
    <div class="page-header">
        <div class="page-header-content">
            <h1>Welcome to OpenQ</h1>
        </div>
    </div>
    <div class="page-region">
        <div class="page-region-content">
            <h2>What is OpenQ?</h2>
            <p>OpenQ is a service for storing and distributing your messages. That's it, plain and simple. What's unique about OpenQ is how simple and flexible OpenQ is to use.</p>
            <ul>
                <li>Use it as way to backup and distribute your data</li>
                <li>Use it as a message bus for your applications to scale out with</li>
                <li>Use it as an event store to build an Event Sourced CQRS based system on top of</li>
            </ul>
            <h3>Push based Subscriptions</h3>
            <p>Setup a subscription to one of your web sites and get OpenQ to push your messages to you.</p>
            <h3>Get started for free... only pay if you want to.</h3>
            <p>OpenQ has a free tier that is throughput limited. If you need more performance you can dial up your throughput instantly.</p>
            <button data-bind="click: signup">Create account</button>
            <button data-bind="click: login">Login</button>                
        </div>
    </div>
</div>